<header id="top-brand">
  <h1><img src="/assets/ammy-devs.svg" class="styled"></h1>
  <p class="version">v3.0 - juillet 2020</p>
</header>
<ul id='links'>
  {% for post in site.posts reversed %}
    {% if post.category == null %}
    <li><a href='#{{ post.url }}'>{{ post.title }}</a></li>
    {% endif %}
  {% endfor %}
  {% for category in site.categories %}
  <li><h2>{{ category | first }}</h2>
    <ul>
    {% for posts in category %}
      {% for post in posts reversed%}
        <li class='{{ post.type }}'><a href='#{{ post.url }}'>{{ post.title }}</a></li>
      {% endfor %}
    {% endfor %}
    </ul>
  </li>
{% endfor %}
</ul>
